@import '../../styles/variables';

@mixin multiline_texts_excerpt($font-size:1em, $line-height: 1.15, $lines-to-show: 2, $bg-color: transparent) {

    line-height: $line-height;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: $bg-color;

    /* Fallback for non-webkit */
    display: block;
    max-height: $lines-to-show * $line-height;

    /* Only for non-webkit */
    display: -webkit-box;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    white-space: normal;

    // @note: Probably doesn't need.
    /*@-moz-document url-prefix() {

        position: relative;
        padding-right: $font-size * 1.1;
        overflow: hidden;

        &:before {
            background-color: $bg-color;
            bottom: 0;
            position: absolute;
            right: 0;
            float: right;
            text-align:right;
            content: '\2026';
            width: $font-size * 1.1;
        }

        &:after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: +1;
            background: $bg-color;
        }
    }*/
}

.video-js {
    
    &.vjs-mediacms {

        .vjs-corner-layer {
    
            position: absolute;
            display: block;
            z-index: +1;
    
            &.vjs-corner-top-left,
            &.vjs-corner-top-right {
                top: $corner-layer-edge-space;
            }
    
            &.vjs-corner-bottom-left,
            &.vjs-corner-bottom-right {
                bottom: $corner-layer-edge-space;
    
                transition-duration: $controlBarAnimationsDuration;
                transition-property: bottom;
            }
    
            &.vjs-corner-top-left,
            &.vjs-corner-bottom-left {
                left: $corner-layer-edge-space;
            }
    
            &.vjs-corner-top-right,
            &.vjs-corner-bottom-right {
                right: $corner-layer-edge-space;
            }
    
            // &.vjs-corner-top-left {}
    
            // &.vjs-corner-top-right {}
    
            // &.vjs-corner-bottom-left {}
    
            // &.vjs-corner-bottom-right {}

            &.vjs-corner-top-left,
            &.vjs-corner-top-right {
                top: 16px;
            }
    
            &.vjs-corner-top-left {
                max-width: 80%;
            }
    
            .title-link,
            .user-thumb-link {
                outline: 0;
                transition-duration: 0.1s;
                transition-property: opacity, visibility;
            }
    
            .title-link {
                display: inline-block;
                font-size: 16px;
                font-stretch: 100%;
                text-decoration: none;
                text-shadow: 0 0 2px rgba(#000, .5);
                @include multiline_texts_excerpt($font-size: 18px, $line-height: 23.4px, $lines-to-show: 2, $bg-color: transparent);
                color: #eee;
    
                &:hover {
                    color: #fff;
                }
    
                @media screen and (min-width:768px) {
                    font-size: 18px;
                }
            }
    
            .user-thumb-link {
                position: relative;
                display: block;
                width: 36px;
                height: 36px;
                overflow: hidden;
                border-radius: 50%;
                margin-bottom: 4px;
                background-size: cover;
                background-position:center;
                background-repeat:no-repeat;
            }
    
            .media-links-top-left {

                display: block;
    
                .title-link {
                    padding-left: 48px;
                    padding-top: 7px;
                }
    
                .user-thumb-link {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                }
            }
        }

        &.vjs-has-started,
        &.vjs-changing-resolution {
            
            .vjs-corner-layer {

                &.vjs-corner-bottom-left,
                &.vjs-corner-bottom-right {
                    bottom: $corner-layer-edge-space + $control-bar-height;
                }
            }

            &.vjs-user-inactive.vjs-playing {
    
                .vjs-corner-layer {
    
                    &.vjs-corner-bottom-left,
                    &.vjs-corner-bottom-right {
                        bottom: $corner-layer-edge-space;
                    }
                }
            }
        }

        &.vjs-fullscreen {

            .vjs-corner-layer {
    
                &.vjs-corner-bottom-left,
                &.vjs-corner-bottom-right {
                    bottom: $corner-layer-edge-space + $control-bar-fullscreen-height;
                }
    
                .title-link {
    
                    font-size: 16px;
    
                    @media screen and (min-width: 768px) {
                        font-size: 18px;
                    }
    
                    @media screen and (min-width:992px) {
                        font-size: 20px;
                    }
    
                    @media screen and (min-width:1040px) {
                        font-size: 22px;
                    }
                }
            }
        }

        &.vjs-has-started {
            
            &.vjs-user-inactive.vjs-playing {
    
                .vjs-corner-layer {
    
                    .title-link,
                    .user-thumb-link {
                        opacity: 0;
                        visibility: hidden;
                    }
                }    
            }
        }
    }
}