<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
	<div class="page-main">
		<div class="page-main-inner">
			<div class="user-action-form-wrap">
				<h1>Contact us</h1>
				<div class="user-action-form-inner">
					<!--<p>Tel / Voice mail: +61 (0) 3 9015 9744, Australia<br />Skype: EngageMedia</p>
					<p><strong>Australia office:</strong></p>
					<p>
						7/225 Bourke Street
						<br />
						Melbourne, 3000, Vic
						<br />
						Australia
					</p>-->
					<form
						enctype="multipart/form-data"
						action=""
						method="post"
						class="post-form"
					>
						<input type="hidden" name="csrfmiddlewaretoken" value="" />
						<p>
							<label for="id_from_email">Your email:</label>
							<input type="email" name="from_email" required="" id="id_from_email" />
						</p>
						<p>
							<label for="id_name">Your name:</label>
							<input type="text" name="name" id="id_name" />
						</p>
						<p>
							<label for="id_message">Please add your message here and submit:</label>
							<textarea
								name="message"
								cols="40"
								rows="10"
								required=""
								id="id_message"
							></textarea>
						</p>
						<button class="primaryAction" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<div class="page-sidebar-content-overlay"></div>
	</div>
</div>
<div id="app-footer"></div>
