<div id="app-header"></div>
<div id="app-sidebar"></div>
<div id="editorial-page" class="page-main-wrap">
	<div class="page-main">
		<div class="page-main-inner">
			<div class="custom-page-wrapper">
				<h1>Editorial policy</h1>

				<p>
					<em
						><strong
							>We welcome contributions of a variety of styles and genres, whether it
							be documentary, fiction, experimental or as yet un-categorisable.</strong
						></em
					>
				</p>

				<p>
					Our key focus is to present video that promotes social change. We want to
					promote work that challenges corporate dominance and government arrogance,
					that exposes the people and mechanisms behind environmental destruction or
					human rights abuses. We want to build media that questions how the world
					works.
				</p>

				<p>
					We are looking to create a more thoughtful space for works that have
					significant impact on viewers but we also want the space to be diverse and
					open to people with many different approaches.
				</p>

				<p>&nbsp;</p>

				<h2>Submission Guidelines</h2>

				<p>
					Decisions regarding the publishing videos will be made on the basis of our
					Editorial Policy. This will involve consideration of potentially
					conflicting factors weighed against each other and decisions will be made
					at the discretion of the editors.
				</p>

				<p>We will be accepting work that:</p>

				<ul class="tick-list">
					<li>is well researched</li>
					<li>is well produced and edited</li>
					<li>focuses on the Asia-Pacific region</li>
					<li>aids in the development of social movements</li>
					<li>is innovative, engaging or entertaining</li>
					<li>
						is constructive, critical of the status quo or highlights key issues
					</li>
				</ul>

				<p><br />We won&#39;t be accepting:</p>

				<ul class="tick-list">
					<li>
						work that promotes sexism, racism or homophobia or discriminates against
						dis-empowered members of the community
					</li>
					<li>advertising or advertorial</li>
					<li>
						videos that overtly promote the interests of any particular religion or
						religious groups, governments or corporations as a primary purpose
					</li>
				</ul>

				<p>
					Users must ensure they have the appropriate rights and permissions required
					to upload the media to this site, and clear violations of copyright will be
					deleted.
				</p>

				<p>&nbsp;</p>

				<h2>Open Content</h2>

				<p>
					EngageMedia operates on the principles of&nbsp;<a
						href="http://en.wikipedia.org/wiki/Open_content"
						rel="nofollow"
						target="_blank"
						>open content</a
					>. We want visitors to this site to be able to freely copy and redistribute
					the works here as long as it is for non-profit purposes, unless you choose
					otherwise. Apart from the ethics of such a policy, we believe it is
					practically impossible to stop people reproducing your work once it is in
					digital form. This is also a positive, however, as people will help you
					distribute your work around the globe if they enjoy it.
				</p>

				<p>
					This site cannot directly generate revenue for producers, although we would
					like to implement a donations-based micro-payment system a bit further down
					the line, so other Members may contribute financially, on a voluntary
					basis, to future work by the Producers whose videos they enjoy or want to
					see more of. Indirectly, EngageMedia and Internet distribution in general
					may expose film-makers to other revenue streams such as festivals,
					compilations and broadcast.
				</p>

				<p>
					EngageMedia uses the&nbsp;<a
						href="https://video.engagemedia.org/creative-commons"
						>Creative Commons</a
					>&nbsp;licenses as they are currently the most developed. When you publish
					your work you will be asked to specify a Creative Commons license.
				</p>

				<p>&nbsp;</p>

				<h2>What will happen to your work once you have submitted it?</h2>

				<p>
					Once you upload your work to the site you&#39;ll be sent an email telling
					you the server has received it. The site moderators will then view the
					video and publish or reject it. You&#39;ll receive an email about this too.
					If you continue publishing solid content we&#39;ll invite you to become a
					site moderator and help review and approve other people&#39;s content too.
					EngageMedia has the right to remove user accounts with no contents which
					had been inactive for more than a year.
				</p>
			</div>
			<div class="page-sidebar-content-overlay"></div>
		</div>
	</div>
	<div id="app-footer"></div>
</div>
