@import '../../styles/variables';

@keyframes onDisplayingActionAnimation {
    0% {
        transform: scale(0.5);
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.05);
    }
}

@-webkit-keyframes onDisplayingActionAnimation {
    0% {
        transform: scale(0.5);
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.05);
    }
}

.video-js {
    
    &.vjs-mediacms {

        .vjs-actions-anim {
    
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
    
            position: absolute;
            top: 50%;
            left: 50%;
            width: $vjs-actions-anim-width;
            height: $vjs-actions-anim-width;
            line-height: $vjs-actions-anim-width;
            margin-top: -0.5 * $vjs-actions-anim-width;
            margin-left: -0.5 * $vjs-actions-anim-width;
            display: block;
            text-align: center;
            border-radius: 50%;
            color: #eee;
            background-color: rgba(0, 0, 0, 0.25);
            visibility: hidden;
            opacity: 0;
    
            span {
    
                display: block;
    
                &:after {
                    content: '';
                    font-family: VideoJS;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 42px;
                }
            }
    
            &.just-paused {
                span:after {
                    content: "\f103";
                }
            }
    
            &.started-playing {
                span:after {
                    content: "\f101";
                }
            }
    
            &.volume-high {
                span:after {
                    content: "\f107";
                }
            }
    
            &.volume-mid {
                span:after {
                    content: "\f106";
                }
            }
    
            &.volume-low {
                span:after {
                    content: "\f105";
                }
            }
    
            &.volume-mute {
                span:after {
                    content: "\f104";
                }
            }
    
            &.moving-backward {
    
                span {
                    &:after {
                        content: "\f116";
                    }
                }
            }
    
            &.moving-forward {
    
                span {
                    transform: scale(-1, 1);
    
                    &:after {
                        content: "\f116";
                    }
                }
            }
    
            &.moving-backward,
            &.moving-forward {
    
                &:before {
                    content: "5";
                    position: absolute;
                    top: 2px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: block;
                    font-size: 10px;
                    font-weight: 700;
                    font-family: Arial, sans-serif;
                }
            }
    
            &.play_previous {
    
                span {
                    &:after {
                        content: "\f120";
                    }
                }
            }
    
            &.play_next {
    
                span {
                    &:after {
                        content: "\f11f";
                    }
                }
            }
        }

        &.vjs-has-started,
        &.vjs-changing-resolution {

            .vjs-actions-anim {
    
                &.active-anim {
                    visibility: visible;
                    animation-duration: .75s;
                    animation-name: onDisplayingActionAnimation;
                }
            }
        }

        &.vjs-seeking,
        &.vjs-waiting,
        &.vjs-touch-enabled {

            .vjs-actions-anim{
                display:none;
            }
        }
    }
}
