{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block headtitle %}
  | Sign In
{% endblock %}

{% block innercontent %}
<div class="user-action-form-wrap">
  <div class="user-action-form-inner">
    <h1>
      {% translate "Enter Sign-In Code" %}
    </h1>
    {% setvar email_link %}
      <a href="mailto:{{ email }}">{{ email }}</a>
    {% endsetvar %}

    <p>
      {% blocktranslate %}We’ve sent a code to {{ email_link }}. The code expires shortly, so please enter it soon.{% endblocktranslate %}
    </p>

    {% url 'account_confirm_login_code' as login_url %}
    <form method="POST" action="{{ login_url }}">
      {% csrf_token %}
      <input 
        required="" 
        name="code" 
        placeholder="Code" 
        id="id_code" 
        autocomplete="one-time-code" 
        type="text"
      >
      <button type="submit" class="primaryAction">
        {% translate "Confirm" %}
      </button>
      <button form="logout-from-stage" class="secondaryAction" type="submit">
        Cancel
      </button>
    </form>

    <form id="logout-from-stage" method="POST" action="/accounts/logout/">
      <input type="hidden" name="next" value="/accounts/login" />
      {% csrf_token %}
    </form>
  </div>
</div>
{% endblock %}