@import "../../../node_modules/compass-mixins/lib/compass/css3/opacity";

@-webkit-keyframes spinner-linear-spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner-linear-spin {
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spinner-ease-spin {
	12.5% {
		-webkit-transform: rotate(135deg);
	}

	25% {
		-webkit-transform: rotate(270deg);
	}

	37.5% {
		-webkit-transform: rotate(405deg);
	}

	50% {
		-webkit-transform: rotate(540deg);
	}

	62.5% {
		-webkit-transform: rotate(675deg);
	}

	75% {
		-webkit-transform: rotate(810deg);
	}

	87.5% {
		-webkit-transform: rotate(945deg);
	}

	to {
		-webkit-transform: rotate(1080deg);
	}
}

@keyframes spinner-ease-spin {
	12.5% {
		transform: rotate(135deg);
	}

	25% {
		transform: rotate(270deg);
	}

	37.5% {
		transform: rotate(405deg);
	}

	50% {
		transform: rotate(540deg);
	}

	62.5% {
		transform: rotate(675deg);
	}

	75% {
		transform: rotate(810deg);
	}

	87.5% {
		transform: rotate(945deg);
	}

	to {
		transform: rotate(1080deg);
	}
}

@-webkit-keyframes spinner-left-spin {
	0% {
		-webkit-transform: rotate(130deg);
	}

	50% {
		-webkit-transform: rotate(-5deg);
	}

	to {
		-webkit-transform: rotate(130deg);
	}
}

@keyframes spinner-left-spin {
	0% {
		transform: rotate(130deg);
	}

	50% {
		transform: rotate(-5deg);
	}

	to {
		transform: rotate(130deg);
	}
}

@-webkit-keyframes spinner-right-spin {
	0% {
		-webkit-transform: rotate(-130deg);
	}

	50% {
		-webkit-transform: rotate(5deg);
	}

	to {
		-webkit-transform: rotate(-130deg);
	}
}

@keyframes spinner-right-spin {
	0% {
		transform: rotate(-130deg);
	}

	50% {
		transform: rotate(5deg);
	}

	to {
		transform: rotate(-130deg);
	}
}

.video-js {
	&.vjs-mediacms {
		$spinner-color: #eee;

		$spinner-border-width: 6px;
		$spinner-container-width: 64px;

		$fullscreen-spinner-border-width: 1.5 * $spinner-border-width;
		$fullscreen-spinner-container-width: 1.5 * $spinner-container-width;

		.vjs-loading-spinner {
			width: $spinner-container-width;
			height: $spinner-container-width;
			margin: (-0.5 * $spinner-container-width) 0 0
				(-0.5 * $spinner-container-width);

			border: 0;
			border-radius: 0;
			@include opacity(1);

			-webkit-animation-delay: 0.44s;
			animation-delay: 0.44s;

			&:after,
			&:before {
				display: none;
			}

			.spinner {
				z-index: +1;
				position: absolute;
				left: 50%;
				top: 50%;
				width: 100%;
				margin-left: (-0.5 * $spinner-container-width);
				pointer-events: none;
				background-color: $spinner-color;
			}

			.spinner-container {
				pointer-events: none;
				position: absolute;
				width: 100%;
				top: 50%;
				left: 50%;
				margin-top: -50%;
				margin-left: -50%;
				padding-bottom: 100%;
				animation: spinner-linear-spin 1568.23529647ms linear infinite;
				-webkit-animation: spinner-linear-spin 1568.23529647ms linear infinite;
			}

			.spinner-rotator {
				position: absolute;
				width: 100%;
				height: 100%;
				-webkit-animation: spinner-ease-spin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
					infinite both;
				animation: spinner-ease-spin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
					both;
			}

			.spinner-left,
			.spinner-right {
				position: absolute;
				top: 0;
				bottom: 0;
				overflow: hidden;
			}

			.spinner-circle {
				position: absolute;
				width: 200%;
				height: 100%;
				box-sizing: border-box;
				border-radius: 50%;
				border-style: solid;
				border-width: $spinner-border-width;
				border-color: $spinner-color $spinner-color transparent;
			}

			.spinner-left {
				left: 0;
				right: 49%;

				.spinner-circle {
					left: 0;
					right: -100%;
					border-right-color: transparent;
					-webkit-animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
						infinite both;
					animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
						both;
				}
			}

			.spinner-right {
				left: 49%;
				right: 0;

				.spinner-circle {
					left: -100%;
					right: 0;
					border-left-color: transparent;
					-webkit-animation: spinner-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
						infinite both;
					animation: spinner-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1 1)
						infinite both;
				}
			}
		}

		&.vjs-fullscreen {
			.vjs-loading-spinner {
				width: $fullscreen-spinner-container-width;
				height: $fullscreen-spinner-container-width;
				margin: (-0.5 * $fullscreen-spinner-container-width) 0 0
					(-0.5 * $fullscreen-spinner-container-width);

				.spinner {
					margin-left: (-0.5 * $fullscreen-spinner-container-width);
				}

				.spinner-circle {
					border-width: $fullscreen-spinner-border-width;
				}
			}
		}

		&.vjs-error {
			.vjs-loading-spinner {
				display: none;
			}
		}
	}
}
