@import '../../styles/variables';

.video-js {
    
    &.vjs-mediacms {
        
        .vjs-bottom-bg {
            position: absolute;
            bottom: 0;
            left: $control-bar-horizontal-space / -1;
            right: $control-bar-horizontal-space / -1;
            height: $control-bar-height;
            display: block;
            pointer-events: none;
            background: rgba(#000, 0.1);
            background: -moz-linear-gradient(top, rgba(#000, 0) 0%, rgba(#000, 0.55) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(#000, 0)), color-stop(100%, rgba(#000, 0.55)));
            background: -webkit-linear-gradient(top, rgba(#000, 0) 0%, rgba(#000, 0.55) 100%);
            background: -o-linear-gradient(top, rgba(#000, 0) 0%, rgba(#000, 0.55) 100%);
            background: -ms-linear-gradient(top, rgba(#000, 0) 0%, rgba(#000, 0.55) 100%);
            background: linear-gradient(to bottom, rgba(#000, 0) 0%, rgba(#000, 0.55) 100%);
        }   
        
        &.vjs-fullscreen {

            .vjs-bottom-bg {
                height: $control-bar-fullscreen-height;
            }
        }
    }
}
