[Unit]
Description=cinematacms Celery Service beat
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
Restart=always
RestartSec=10
Environment=APP_DIR="/home/cinemata/cinematacms"
Environment=CELERY_BIN="/home/cinemata/bin/celery"
Environment=CELERY_APP="cms"
Environment=CELERYD_PID_FILE="/home/cinemata/cinematacms/pids/beat%n.pid"
Environment=CELERYD_LOG_FILE="/home/cinemata/cinematacms/logs/beat%N.log"
Environment=CELERYD_LOG_LEVEL="INFO"
Environment=APP_DIR="/home/cinemata/cinematacms"

ExecStart=/bin/sh -c '${CELERY_BIN} beat -A ${CELERY_APP} --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} ${CELERYD_OPTS} --workdir=${APP_DIR}'
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target

