@import "../../../node_modules/compass-mixins/lib/compass/css3/transition";

@keyframes showPreviewThumb {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes showPreviewThumb {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.video-js {
	&.vjs-mediacms {
		.vjs-preview-thumb {
			display: none;
			opacity: 0;
			visibility: hidden;

			position: relative;
			cursor: pointer;
			z-index: +1;

			.vjs-preview-thumb-inner {
				position: absolute;
				bottom: 1em;
				left: -80px;
				width: 160px;
				height: 120px;
				overflow: hidden;
				background-position: center 0;
				background-size: cover;
				background-color: rgba(28, 28, 28, 0.9);
				border: 2px solid rgba(28, 28, 28, 0.9);
				border-radius: 1px;
			}

			.vjs-preview-thumb-time-display {
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 100%;
				line-height: 1;
				font-size: 1em;
				font-weight: 600;
				display: inline-block;
				text-align: center;
				user-select: none;

				> * {
					display: inline-block;
					padding: 0.5em 0.65em 0.45em;
				}
			}
		}

		&.vjs-enabled-preview-thumb {
			.vjs-preview-thumb {
				display: block;
			}

			.vjs-preview-thumb.vjs-preview-thumb-visible {
				visibility: visible;

				animation-name: showPreviewThumb;
				animation-duration: 0.2s;
				animation-timing-function: ease-out;
				animation-delay: 0s;
				animation-direction: alternate;
				animation-fill-mode: forwards;
			}

			&.vjs-user-inactive {
				.vjs-control-bar {
					.vjs-preview-thumb {
						opacity: 0;
						visibility: hidden;
						@include transition(visibility 1s linear, opacity 1s linear);
					}
				}
			}

			&.vjs-touch-enabled {
				.vjs-preview-thumb {
					display: none;
				}
			}
		}
	}
}
