$theme-color: #009933;

/* BIG PLAY BUTTON */

$big-play-button: true;
$center-big-play-button: true;

$big-play-width: 2.65em;
$big-play-height: $big-play-width * (9/16);
$big-play-radius: 0.15em;
$big-play-font-size: 2.5em;

/* COLORS */


/* @note: Keep in colors 6-digits hex format. */

$primary-foreground-color: #ffffff;
$primary-background-color: #000000;

/* FONT SIZE */

$default-font-size: 13px;
$default-fullscreen-font-size: 16px;

/* DIMENSIONS */

$control-bar-height: 36px;

$progress-bar-height: 30px;

$control-bar-button-min-width: $control-bar-height;

$control-bar-fullscreen-height: 52px;
$volume-horizontal-slider-height: 3px;
$volume-horizontal-slider-fullscreen-height: 5px;

/* SPACES */

$control-bar-horizontal-space: 12px;

$corner-layer-edge-space: $control-bar-horizontal-space;

/* ANIMATIONS */

$vjs-actions-anim-width: 7.375em;

$fullscreenToggleAnimationDuration: 0.4s;

$controlBarAnimationsDuration: 0.1s;
