.video-js {
    
    &.vjs-mediacms {

        &.vjs-enabled-touch-controls{
    
            .vjs-touch-controls{
    
                $touch-controls-icon-font-size: 2.625em;
                $touch-controls-play-icon-font-size: 56px;
    
                -webkit-tap-highlight-color: rgba(#000, 0);
    
                touch-action: none;
                pointer-events: none;
    
                z-index: +2;
                position:absolute;
                display:block;
                top:0;
                left:0;
                right:0;
                bottom:0;
                width:100%;
                background-color:rgba(#000, 0.6);
                
                visibility: hidden;
                opacity:0;
                
                transition-timing-function: linear;
                transition-duration: 0.1s;
                transition-property: opacity, visibility;
    
                [role="button"]{
                    pointer-events: auto;
    
                    display:inline-block;
                    width:auto;
                    height:auto;
                    line-height:1;
                    float:none;
                    margin:1rem;
                    
                    font-size: $touch-controls-icon-font-size;
                    
                    width:$touch-controls-play-icon-font-size;
                    height:$touch-controls-play-icon-font-size;
                    line-height:$touch-controls-play-icon-font-size;
    
                    outline:0;
                    border-radius: 50%;
                }
    
                > * {
    
                    position:absolute;
                    display:block;
                    top:50%;
                    left:0;
                    margin-top: -0.5 * ( $touch-controls-play-icon-font-size + 32px );
    
                    display: table;
                    width: 100%;
                    
                    > * {
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                    }
                }
    
                .vjs-touch-previous-button{
                    text-align: right;
                }
    
                .vjs-touch-play-button{
                    
                    width: 10.5em;
                    text-align: center;
                    
                    [role="button"]{
                        font-size: $touch-controls-play-icon-font-size;
                    }
                }
                
                .vjs-touch-play-button{
                    
                }
    
                .vjs-touch-next-button{
                    text-align: left;
                }
    
                .vjs-touch-hidden-button{
    
                    * {
                        visibility:hidden;
                        opacity:0;
                    }
                }
    
                .vjs-touch-disabled-button{
    
                    * {
                        color:#404040;
                        color:rgba(#fff, 0.25);
                        cursor:disabled;
                    }
                }
            }

            &.vjs-touch-enabled {

                &.vjs-has-started{
    
                    &.vjs-playing.vjs-user-active,
                    &.vjs-paused {
                
                        .vjs-touch-controls{
                            visibility: visible;
                            opacity: 1;
                        }    
                    }
                }

                &.vjs-playing{
    
                    .vjs-icon-play{
    
                        &:before{
                            content: "\f103";
                        }
                    }
                }
    
                &.vjs-ended{
    
                    .vjs-icon-play{
    
                        &:before{
                            content: "\f116";
                        }
                    }
                }
            }
        }
    }
}