{% extends "base.html" %}

{% block headtitle %}About - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}

<meta property="og:title" content="About - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta property="og:image" content="{{FRONTEND_HOST}}/media/userlogos/cinemata_share_banner-01.png">
<meta name="twitter:card" content="summary_large_image">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
			"@type": "WebPage",
	        "@id": "{{FRONTEND_HOST}}"
	    }
    },
    {
		"@type": "ListItem",
		"position": 2,
        "name": "About Us",
        "item": {
			"@type": "AboutPage",
	        "@id": "{{FRONTEND_HOST}}/about"
	    }
    }]
}
</script>

{% endblock headermeta %}

{% block innercontent %}

<div class="custom-page-wrapper">

	<h1>About Us</h1>

	<!-- <hr/> -->

	<p><em><strong>EngageMedia is a non-profit media, technology and culture organisation.</strong></em></p>
	<p>EngageMedia uses the power of video, the Internet and open technologies to create social and environmental change. We harness old and new media to assist movements challenge social injustice and environmental damage, as well as to present solutions.</p>
	<p>EngageMedia works with independent film-makers, journalists, technologists, campaigners and social movements to generate wider audiences for stories of social change, to intervene in the public discourse and to move people to action.</p>
	<p>We demystify and provide strategies for the effect use of video distribution and engagement technologies; connect video makers and activists to media distributors and audiences; and form peer networks of media-makers, technologists and campaigners.</p>

	<br/>

	<h2>Organisational Aims</h2>

	<!-- <hr/> -->

	<ul class="tick-list">
		<li>Engage communities and networks in the production and distribution of social and environmental justice media.</li>
		<li>Strengthen social movements by fostering and mobilizing networks of media makers, activists and technologists.</li>
		<li>Amplify the impact of campaigners and media makers by building skills in video production, distribution, and engagement.</li>
		<li>Promote the use and understanding of open and secure technologies.</li>
		<li>Strengthen and expand digital rights.</li>
		<li>Shape public discourse and contribute to debates about media, technologies, and civil rights.</li>
	</ul>

	<br/>

	<h2>Key Activity Areas</h2>

	<!-- <hr/> -->

	<ul class="box-list box-list-half">
		<li><span><a href="https://video.engagemedia.org"><strong>video.engagemedia.org</strong></a>: an online video sharing site focused on social justice and environmental issues in the Asia-Pacific.&nbsp;<a href="https://video.engagemedia.org/accounts/login/">Register here</a> to start sharing your video!</span></li>
		<li><span><strong>Open Technology</strong>: we support civil society and social change actors advocate for digital rights, maintaining the Plumi video sharing platform for 15 years, and partnering recently with <a href="https://mediacms.io/" class="external-link" target="_blank" rel="nofollow">MediaCMS.io</a>.</span></li>
		<li><span><a class="external-link" href="http://v4c.org" target="_blank" rel="nofollow"><strong>Video4Change</strong></a>: a global network of advocates developing training tools and methodologies to enhance the impact of video as a social change tool.</span></li>
		<li><span><strong><a class="external-link" href="http://engagemedia.org/Projects/research" target="_blank" rel="nofollow">Research</a></strong>: we study how video and online technologies are used to advance human rights and environmental movements.</span></li>
		<li><span><strong>Skills building</strong>: we undertake a wide variety of training and skill-sharing programs to build the capacities of video makers and activists in video production, distribution, online engagement and security.</span></li>
	</ul>

	<br/>

	<h2>The EngageMedia Team</h2>

	<p><span class="internal-link">The EngageMedia</span> has offices in Indonesia and Australia, and team members in Thailand, Malaysia, and the Philippines. Check out our <a href="http://www.engagemedia.org/team">team page</a> for a full staff listing. Our team page is also available in <a class="external-link" href="http://www.engagemedia.org/tim-engagemedia" target="_blank" rel="nofollow">Indonesian</a>.</p>

	<br/>

	<h2>Partners</h2>

	<!-- <hr/> -->

	<p>We are also fortunate to have established several key partnerships through out various projects. For a list of our project partners please see our <a href="http://www.engagemedia.org/partners" target="_blank" rel="nofollow">partners page</a>.</p>

	<br/>

	<h2>Working at EngageMedia</h2>

	<!-- <hr/> -->

	<p>If you are interested in working or volunteering with us please check our <a href="http://www.engagemedia.org/jobs" target="_blank" rel="nofollow">jobs page</a>.</p>

	<br/>

	<h2>The EngageMedia Committee of Management (Board)</h2>

	<!-- <hr/> -->

	<p>Our Committee of Management includes:</p>

	<ul class="box-list box-list-third">
		<li><span>Rachel Maher - Media Development and Communications Consultant</span></li>
		<li><span>Malavika Jayaram - Executitve Director, Digital Asia Hub</span></li>
		<li><span>Merlyna Lim - Professor, Carleton University</span></li>
		<li><span>Enrico Aditjondro - Media and Communications Consultant</span></li>
		<li><span>Martin Potter - Researcher and Faculty Member,&nbsp;Deakin University</span></li>
	</ul>

	<p>Full biographies of our Committee of Management are available <a href="http://www.engagemedia.org/com" target="_blank" rel="nofollow" class="internal-link" title="Committee of Management">here</a>.</p>

	<br/>

	<h2>Support</h2>

	<!-- <hr/> -->

	<p>EngageMedia is a non-profit organisation and is supported by  donations, external consulting work and a range of funding bodies. Current funders include the Open Society Foundations, Tifa Foundation, <span>Hivos,</span> the Web Foundation, the Bertha Foundation and the Global Fund for Human Rights.&nbsp;<span>Previous funders include the Ford Foundation, the Mozilla Foundation, Oak Foundation, and the Sigrid Rausing Trust.<br/></span></p>

	<p>Please consider <a class="external-link" href="http://www.engagemedia.org/support-us" target="_blank" rel="nofollow">supporting us</a> with a donation.</p>

	<br/>

	<h2>APC Membership</h2>

	<!-- <hr/> -->

	<p className="cf" ><img src="./static/images/apc_logo.png" loading="lazy" alt="APC" class="fr" style="margin-top:-0.5em; margin-right:-1em;" />EngageMedia has been a member of the <a class="external-link" href="https://apc.org" target="_blank" rel="nofollow">Association for Progressive Communications</a> (APC) since May 2009. APC is an international ICT Rights organisation ensuring people the world over have easy and affordable access to a free and open internet to improve their lives and create a more just world.</p>

	<br/>

{% endblock %}
