{% extends "base.html" %}
{% load static %}

{% block headermeta %}

<link rel="canonical" href="{{FRONTEND_HOST}}{{media_object.get_absolute_url}}">

<meta name="description" content="Cinemata is a platform for social and environmental films about the Asia-Pacific. The open-source video website highlights essential yet underheard stories, increasing filmmakers’ reach, engagement, and impact.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{PORTAL_NAME}}">
<meta itemprop="description" content="Cinemata is a platform for social and environmental films about the Asia-Pacific. The open-source video website highlights essential yet underheard stories, increasing filmmakers’ reach, engagement, and impact.">
<meta itemprop="image" content="{{FRONTEND_HOST}}/media/userlogos/cinemata_share_banner-01.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{FRONTEND_HOST}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{PORTAL_NAME}}">
<meta property="og:description" content="Cinemata is a platform for social and environmental films about the Asia-Pacific. The open-source video website highlights essential yet underheard stories, increasing filmmakers’ reach, engagement, and impact.">
<meta property="og:image" content="{{FRONTEND_HOST}}/media/userlogos/cinemata_share_banner-01.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{PORTAL_NAME}}">
<meta name="twitter:description" content="Cinemata is a platform for social and environmental films about the Asia-Pacific. The open-source video website highlights essential yet underheard stories, increasing filmmakers’ reach, engagement, and impact.">
<meta name="twitter:image" content="{{FRONTEND_HOST}}/media/userlogos/cinemata_share_banner-01.png">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "WebSite",
	"url": "{{FRONTEND_HOST}}",
	"potentialAction": {
		"@type": "SearchAction",
		"target": "{{FRONTEND_HOST}}/search?q={search_query_string}",
		"query-input": "required name=search_query_string"
	}
}
</script>

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
        	"@type": "WebPage",
        	"@id": "{{FRONTEND_HOST}}"
    	}
    }]
}
</script>

{% endblock headermeta %}

{% block content %}<div id="page-home"></div>{% endblock %}

{% block bottomimports %}
<script src="{% static "js/index.js" %}"></script>
{% endblock bottomimports %}

