{% extends "base.html" %}
{% load allauth i18n %}

{% block head_title %}
    | Success
{% endblock head_title %}

{% block innercontent %}
<div class="user-action-form-wrap">
  <div class="alert-banner">
    Two-Factor Authentication Enabled
  </div>
  <div class="user-action-form-inner">


    <h1 style="text-align:center; margin-top: 1em; padding-bottom: 2em;">
        Your account is now more secure with 2FA.
    </h1>
    
    <p>
      Remember:
    </p>
    
    <ul>
      <li>You'll need your authenticator app or a backup code to sign in.</li>
      <li>Keep your backup codes in a safe place.</li>
      <li>If you get a new device, you'll need to set up your authenticator app again.</li>
    </ul>
    
    <form method="GET" style="display: flex; justify-content: center;">
      <button class="primaryAction" formaction="/">Return to Cinemata</button>
    </form>
  </div>
</div>
{% endblock innercontent %}

