@import '../../styles/variables';

.video-js {
    
    &.vjs-mediacms {

        .vjs-volume-display{
            user-select:none;
            pointer-events: none;
            position:absolute;
            display:inline-block;
            top:0;
            left:50%;
            width: 5.2em;
            height:3.05em;
            line-height:3.05em;
            letter-spacing: 0.05em;
            padding:0.1em 0 0 0.1em;
            margin-left: -1 * (0.5 * 5.2em);
            margin-top:2.5em;
            text-align: center;
            font-size:1.125em;
            font-weight:bold;
            border-radius: 0.15em;
            background-color: rgba($primary-background-color, 0.35);
            transition: all .5s;
            transition-property: visibility, opacity;
            visibility: hidden;
            opacity: 0;
        }
    
        &.vjs-has-started {

            .vjs-volume-display{

                &.vjs-volume-display-visible{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}
